<%- include('header'); -%>

    <!-- Search section -->
      <form action="/notes">
        <div class="form-row mb-2">
          <div class="col-5">
            <input type="text" class="form-control" name="search-title" aria-describedby="fullTextSearch" placeholder="Full text search"/>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-outline-dark">Search</button>
            <button type="button" class="btn btn-outline-dark button-clear">Clear</button>
          </div>
        </div>
      </form>
    <!-- Search result section aka notes list -->
    <table class="table table-borderless table-hover table-striped table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="w-25 align-middle">Title</th>
          <th scope="col" class="w-25 align-middle">Keywords</th>
          <th scope="col" class="w-50 align-middle">Note</th>
          <th scope="col" class="align-middle">
            <form action="/addnote" method="get"><button type="submit" class="btn btn-success btn-block">Add</button></form>
          </th>
        </tr>
      </thead>

      <!-- Table body -->
      <% const keywordsToShow = 3 %>
      <% const noteParagraphsToShow = 2 %>

      <% if (notes && notes.length > 0){ %>
        <tbody max-keywords="<%= keywordsToShow %>" max-paragraphs= <%= noteParagraphsToShow %>>

          <!-- Table row-->
          <% notes.forEach(function(note){ %>
            <% const keywords = note.keywords.split(/\r\n/); %>
            <% const notes = note.notes.split(/\r\n/); %>
            <% var showMoreKeywords = keywords.length > keywordsToShow %>
            <% var showMoreNoteParagraphs = notes.length > noteParagraphsToShow  %>

          <tr noteid="<%= note._id %>" showMore="<%= showMoreKeywords ||  showMoreNoteParagraphs%>" >

            <!-- Title cell -->
            <td class="text-break font-weight-bolder"> <%= note.title %></td>

            <!-- Keywords cell -->
            <td class="text-break ">

            <% keywords.forEach((keyword, index) => { %>
              <% const shouldAddHiddenClass = index > keywordsToShow - 1; %>
              <p class="mb-1 text-uppercase text-monospace<%= shouldAddHiddenClass ? ' d-none' : '' %>"><%= keyword %></p>
            <% }); %>

            <% if(showMoreKeywords){  %>
              <p class="font-italic show-more">Click to show more...</p>
            <% } %>
            </td>

            <!-- Notes cell  -->
            <td class="text-break text-justify">
              <% notes.forEach((note, index) => { %>
              <% const shouldAddHiddenClass = index > noteParagraphsToShow - 1;  %>
               <p class="mb-1<%= shouldAddHiddenClass ? ' d-none' : '' %>"><%= note %></p>
              <% }); %>

              <% if(showMoreNoteParagraphs){ %>
                <p class="font-italic show-more">Click to show more...</p>
              <% } %>
            </td>

            <!-- Note action button (edit, delete) -->
            <td class="buttons">
              <button type="button" class="btn btn-warning btn-block edit mb-1 invisible">Edit</button></form>
              <form action="/deleteNote/<%= note._id %>" method="post"><button type="submit" class="btn btn-danger btn-block invisible">Delete</button></form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      <% } %>
      </table>

<%- include('footer'); -%>
